@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

$color1: #EEEBE4; // tan
$color2: #28415E; // blue
$color3: #B79D55; // gold

html {
  box-sizing: border-box
}

*, *:before, *:after {
  box-sizing: inherit
}

body {
    font-family: 'Open Sans';
    background: #efefef;
    display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #3a3a3a;
}



a {
	text-decoration: none;
}

.container {
	margin: 0 auto;
	width: 90%;
	max-width: 1170px;
}

/* ---- Header ---- */

#main-header {
	background: #fff;
	padding: 0.85em 0;

	.container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.logo, nav a {
		padding: 10px;
    
    @media (min-width: 500px) {
			padding: 10px 15px;
		}
	}

	.logo {
		font-size: 1.35em;
		color: $color2;
	}

	nav a {
		font-size: 0.65em;
		text-transform: uppercase;
		color: lighten($color2, 25%);
    
    	@media (min-width: 500px) {
			font-size: 0.95em;
		}
	}
}

#intro {
	background: $color1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4em 0;

	.cta {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: $color2;

		.splash {
			display: none;

			@media (min-width: 500px) {
				display: block;
				width: 200px;				
			}
		}

		img {
			margin-bottom: 1em;
		}

		h1, p, .button {
			text-align: center;
		}

		h1 {
			margin: 0;
		}

		p {
			margin-bottom: 1.5em;
		}
	}
}