@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

$color1: #EEEBE4; // tan
$color2: #28415E; // blue
$color3: #B79D55; // gold

html {
  box-sizing: border-box
}

*, *:before, *:after {
  box-sizing: inherit
}

body {
    font-family: 'Open Sans';
 //   background: #efefef;
 	background: $color2;
    display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #3a3a3a;
	margin: 0px;
}


.link {
	&:hover {
		font-weight: 600;
	}
	
}



.icons {
	width: 150px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.container {
	margin: 0 auto;
	width: 100%;
	// max-width: 1170px;
}

.soc-media-ul a {
  text-align: center;
  text-decoration: none;
}

/* ---- Header ---- */

#main-header {
	background: #fff;
	padding: 0.85em 0;

	position:fixed; 
	top:0px; 
	margin:auto; 
	z-index:100000;
	width: 100%;

	.container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.logo, nav a {
		padding: 10px;
   
    	@media (min-width: 500px) {
			padding: 10px 15px;
		}
	}

	.logo {
		font-size: 1.35em;
		color: $color2;
	}

	nav a {
		font-size: 0.95em;
		text-transform: uppercase;
		color: lighten($color2, 25%);
    

	}
}

.project-title {
	font-size: 20px;
	margin: 5px;
}
.tech-stack {
	font-size: 14px;
	margin: 1px;

}

.left-diamond {
	padding-bottom: 2px;
	margin: 0 3px 0 0;
}

.right-diamond {
	padding-bottom: 2px;
	margin-left: 3px;
}

.project-image {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 5px;

	&:hover {
		opacity: 0.5;
	}
}

#foot {
	margin: 10px;
	font-size: 12px;
}

#occupation {
	// font-size: 26px;
	text-align: center;
}

#blog-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background: $color2;
	margin: 35px 0 0 0;
}

#blog-text {
	background: $color1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border: 2px solid white;

	padding: 0 10px;

	@media (min-width: 800px) {
		display: block;
		width: 800px;				
	}
}

.blog-title {
	font-size: 36px;
	text-align: center;
}

#byline {
	text-align: center;
}



#intro {
	background: $color1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4em 0 3em 0;

	margin: 35px 0 0 0;

	.cta {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: $color2;

		.splash {
			display: none;

			@media (min-width: 500px) {
				display: block;
				width: 200px;				
			}
		}

		img {
			margin-bottom: 1em;
		}

		h1, p, .button {
			text-align: center;
		}

		h1 {
			margin: 0;
		}

		p {
			margin-bottom: 1.5em;
		}
	}
}

#projects {
	background: $color2;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	padding-top: 1em;
	color: white;

	// border: 2px solid black;

	h1 {
		margin: 0;
		text-align: center;
	}

	ul, ul li, ul li div {
		display: flex;
	}

	ul {
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			position: relative;
			flex-direction: column;
			align-items: center;
		//	cursor: pointer;
		//	@include transition(background 0.4s);
      		transition-property: background;
      		transition-duration: 0.4s;
      		margin: 20px;
/*
			span {
				display: flex;
				flex-direction: column;
				justify-content: center;
				border-radius: 5px;

			}
*/


	/*		div {
				position: absolute;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 1em;
				width: 100%;
				height: 100%;
				text-align: center;
				color: #fff;
			}  */

			img {
				border: 2px solid silver;
      			border-radius: 5px;
				position: relative;
			//	z-index: -1;

				
			}
		}
	}
}
